# Imports here !!!

In [1]:
import os
import pandas as pd
from datetime import datetime, timezone

In [16]:
path_to_raw_data = os.path.dirname(os.getcwd())
df_ob = pd.read_csv(os.path.join(path_to_raw_data,'raw_data','BTCUSDT_S_DEPTH_20220519.csv'))
df_ob.head(3)

,symbol,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,BTCUSDT,1652918400006,1519899788740,28700.6,0.155,28699.1,0.019,28699.0,2.043,28697.4,...,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.2,0.001,28705.3,0.192
1,BTCUSDT,1652918400385,1519899930450,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,28704.5,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192
2,BTCUSDT,1652918400707,1519900081311,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,28704.5,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192

In [3]:
df_ob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149490 entries, 0 to 149489
Data columns (total 83 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   symbol          149490 non-null  object
 1   ts              149490 non-null  int64
 2   last_update_id  149490 non-null  int64
 3   bp1             149490 non-null  float64
 4   bs1             149490 non-null  float64
 5   bp2             149490 non-null  float64
 6   bs2             149490 non-null  float64
 7   bp3             149490 non-null  float64
 8   bs3             149490 non-null  float64
 9   bp4             149490 non-null  float64
 10  bs4             149490 non-null  float64
 11  bp5             149490 non-null  float64
 12  bs5             149490 non-null  float64
 13  bp6             149490 non-null  float64
 14  bs6             149490 non-null  float64
 15  bp7             149490 non-null  float64
 16  bs7             149490 non-null  float64
 17  bp8             149490 non-null  float64
 18  bs8             149490 non-null  float64
 19  bp9             149490 non-null  float64
 20  bs9             149490 non-null  float64
 21  bp10            149490 non-null  float64
 22  bs10            149490 non-null  float64
 23  bp11            149490 non-null  float64
 24  bs11            149490 non-null  float64
 25  bp12            149490 non-null  float64
 26  bs12            149490 non-null  float64
 27  bp13            149490 non-null  float64
 28  bs13            149490 non-null  float64
 29  bp14            149490 non-null  float64
 30  bs14            149490 non-null  float64
 31  bp15            149490 non-null  float64
 32  bs15            149490 non-null  float64
 33  bp16            149490 non-null  float64
 34  bs16            149490 non-null  float64
 35  bp17            149490 non-null  float64
 36  bs17            149490 non-null  float64
 37  bp18            149490 non-null  float64
 38  bs18            149490 non-null  float64
 39  bp19            149490 non-null  float64
 40  bs19            149490 non-null  float64
 41  bp20            149490 non-null  float64
 42  bs20            149490 non-null  float64
 43  ap1             149490 non-null  float64
 44  as1             149490 non-null  float64
 45  ap2             149490 non-null  float64
 46  as2             149490 non-null  float64
 47  ap3             149490 non-null  float64
 48  as3             149490 non-null  float64
 49  ap4             149490 non-null  float64
 50  as4             149490 non-null  float64
 51  ap5             149490 non-null  float64
 52  as5             149490 non-null  float64
 53  ap6             149490 non-null  float64
 54  as6             149490 non-null  float64
 55  ap7             149490 non-null  float64
 56  as7             149490 non-null  float64
 57  ap8             149490 non-null  float64
 58  as8             149490 non-null  float64
 59  ap9             149490 non-null  float64
 60  as9             149490 non-null  float64
 61  ap10            149490 non-null  float64
 62  as10            149490 non-null  float64
 63  ap11            149490 non-null  float64
 64  as11            149490 non-null  float64
 65  ap12            149490 non-null  float64
 66  as12            149490 non-null  float64
 67  ap13            149490 non-null  float64
 68  as13            149490 non-null  float64
 69  ap14            149490 non-null  float64
 70  as14            149490 non-null  float64
 71  ap15            149490 non-null  float64
 72  as15            149490 non-null  float64
 73  ap16            149490 non-null  float64
 74  as16            149490 non-null  float64
 75  ap17            149490 non-null  float64
 76  as17            149490 non-null  float64
 77  ap18            149490 non-null  float64
 78  as18            149490 non-null  float64
 79  ap19            149490 non-null  float64
 80  as19            149490 non-null  float64
 81  ap20            149490 non-null  float64
 82  as20            149490 non-null  float64
dtypes: float64(80), int64(2), object(1)
memory usage: 94.7+ MB

In [17]:
for ts in df_ob.head(4)['ts'].values:
    timestamp = ts
    dt = datetime.fromtimestamp(timestamp/1000.0, tz=timezone.utc).strftime('%Y-%m-%d %H:%M:%S')
    print(dt)

2022-05-19 00:00:00
2022-05-19 00:00:00
2022-05-19 00:00:00
2022-05-19 00:00:01

In [18]:
unix_timestamp = lambda x: datetime.fromtimestamp(x/1000.0, tz=timezone.utc).strftime('%Y-%m-%d %H:%M:%S')
str2date = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
df_ob['timestamp']=df_ob['ts'].apply(unix_timestamp).apply(str2date)
df_ob.head(6)

,symbol,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20,timestamp
0,BTCUSDT,1652918400006,1519899788740,28700.6,0.155,28699.1,0.019,28699.0,2.043,28697.4,...,0.801,28704.9,0.001,28705.1,0.040,28705.2,0.001,28705.3,0.192,2022-05-19 00:00:00
1,BTCUSDT,1652918400385,1519899930450,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192,2022-05-19 00:00:00
2,BTCUSDT,1652918400707,1519900081311,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.002,28704.8,0.801,28704.9,0.001,28705.1,0.040,28705.3,0.192,2022-05-19 00:00:00
3,BTCUSDT,1652918401133,1519900269449,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.135,28704.4,0.001,28704.5,0.002,28704.8,0.151,28704.9,0.001,2022-05-19 00:00:01
4,BTCUSDT,1652918401559,1519900452837,28700.6,0.046,28699.1,0.016,28699.0,1.393,28697.4,...,0.135,28704.4,0.001,28704.5,0.002,28704.8,0.151,28704.9,0.001,2022-05-19 00:00:01
5,BTCUSDT,1652918401976,1519900628985,28700.6,0.046,28700.0,0.005,28699.1,0.016,28699.0,...,0.351,28704.3,0.135,28704.4,0.001,28704.5,0.002,28704.8,0.151,2022-05-19 00:00:01

In [13]:
df_ob.groupby(['timestamp'])['timestamp'].value_counts()

timestamp            timestamp
2022-05-19 00:00:00  2022-05-19 00:00:00    3
2022-05-19 00:00:01  2022-05-19 00:00:01    3
2022-05-19 00:00:02  2022-05-19 00:00:02    6
2022-05-19 00:00:05  2022-05-19 00:00:05    2
2022-05-19 00:00:09  2022-05-19 00:00:09    2
                                           ..
2022-05-19 23:59:55  2022-05-19 23:59:55    2
2022-05-19 23:59:56  2022-05-19 23:59:56    2
2022-05-19 23:59:57  2022-05-19 23:59:57    1
2022-05-19 23:59:58  2022-05-19 23:59:58    2
2022-05-19 23:59:59  2022-05-19 23:59:59    2
Name: timestamp, Length: 84301, dtype: int64

In [28]:
df_agg = df_ob.groupby(pd.Grouper(key='timestamp', axis=0, freq='S')).mean()
df_agg.reset_index(inplace=True)
df_agg['less30s']=df_agg['timestamp'].dt.second<30
df_agg['primary_key']=df_agg['timestamp'].dt.strftime('%Y-%m-%d %H:%M')+df_agg['less30s'].apply(lambda x: ':15' if x==True else ':45')
df_agg.drop(columns=['timestamp','less30s','last_update_id','ts'], inplace=True)
df_agg

,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,bp5,bs5,...,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20,primary_key
0,28700.600000,0.082333,28699.100000,0.017000,28699.000000,1.609667,28697.400000,0.105000,28696.80,0.008000,...,0.268333,28704.833333,0.534333,28704.966667,0.014000,28705.133333,0.027000,28705.300000,0.192000,2022-05-19 00:00:15
1,28700.600000,0.046000,28699.400000,0.012333,28699.033333,0.934000,28697.933333,0.534333,28697.00,0.040333,...,0.207000,28704.366667,0.045667,28704.466667,0.001667,28704.700000,0.101333,28704.866667,0.051000,2022-05-19 00:00:15
2,28695.633333,0.285500,28694.766667,0.077333,28693.733333,0.506000,28693.600000,0.978667,28692.50,0.081667,...,0.885667,28702.400000,0.553333,28702.733333,0.098667,28702.833333,0.001667,28702.966667,0.505333,2022-05-19 00:00:15
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-19 00:00:15
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-19 00:00:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86395,30320.100000,0.601000,30320.000000,0.015000,30319.900000,0.110500,30319.500000,0.479000,30319.40,2.133000,...,0.012000,30323.200000,0.167000,30323.600000,0.171000,30323.950000,0.099500,30324.100000,0.184000,2022-05-19 23:59:45
86396,30320.100000,0.494000,30320.000000,0.015000,30319.900000,0.114000,30319.500000,0.526000,30319.40,2.133000,...,0.167000,30323.600000,0.171000,30323.950000,0.099500,30324.100000,0.184000,30324.250000,0.120000,2022-05-19 23:59:45
86397,30320.100000,0.634000,30320.000000,0.015000,30319.900000,0.114000,30319.500000,0.566000,30319.40,2.133000,...,0.008000,30323.300000,0.976000,30323.900000,0.016000,30324.000000,0.183000,30324.100000,0.103000,2022-05-19 23:59:45
86398,30320.000000,0.232500,30319.750000,0.250500,30319.650000,1.123500,30319.200000,0.249500,30319.05,1.067000,...,1.684000,30323.450000,0.100000,30323.550000,0.242500,30323.650000,0.128000,30323.800000,0.827500,2022-05-19 23:59:45
86399,30319.900000,1.011000,30319.500000,0.523500,30319.400000,3.133000,30318.900000,0.013000,30318.70,0.021000,...,0.471000,30323.050000,1.603500,30323.400000,0.002500,30323.650000,0.256500,30323.800000,0.215500,2022-05-19 23:59:45

In [29]:
df_agg = df_agg.groupby(['primary_key']).mean()
df_agg.reset_index(inplace=True)
df_agg.head()

,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,bp5,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,0.505087,28717.980435,...,28724.006522,0.418891,28724.167391,0.487558,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145
1,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,0.737259,28754.279310,...,28760.520690,7.383086,28760.674138,4.193586,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017
2,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,0.382467,28780.815000,...,28787.931667,0.427633,28788.138333,0.580383,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300
3,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,0.325300,28787.726667,...,28793.874833,0.486350,28794.093333,0.346800,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067
4,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,0.232483,28786.703448,...,28792.984483,0.383293,28793.143103,0.595362,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776

In [9]:
df_agg.set_index('timestamp',inplace=True)
df_agg.rolling('2S').mean().head()

/var/folders/91/6wbfy1kd3c54vx64tq8sck_00000gn/T/ipykernel_7282/641587005.py:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['until_mins'], dtype='object')
  df_agg.rolling('2S').mean().head()

,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,...,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20,seconds
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-05-19 00:00:00,4.958755e+12,4.559700e+12,86101.8,0.2470,86097.30,0.0510,86097.00,4.8290,86092.2,0.3150,...,0.8050,86114.50,1.6030,86114.90,0.0420,86115.40,0.0810,86115.90,0.5760,0.0
2022-05-19 00:00:01,4.958755e+12,4.559701e+12,86101.8,0.1925,86097.75,0.0440,86097.05,3.8155,86093.0,0.9590,...,0.7130,86113.80,0.8700,86114.15,0.0235,86114.75,0.1925,86115.25,0.3645,0.5
2022-05-19 00:00:02,7.438133e+12,6.839553e+12,129137.8,0.9255,129133.40,0.2505,129129.75,2.9190,129127.7,3.7375,...,2.9675,129163.75,1.7285,129164.90,0.2985,129165.55,0.1570,129166.20,1.5925,1.5
2022-05-19 00:00:03,4.958755e+12,4.559703e+12,86086.9,0.8565,86084.30,0.2320,86081.20,1.5180,86080.8,2.9360,...,2.6570,86107.20,1.6600,86108.20,0.2960,86108.50,0.0050,86108.90,1.5160,2.5