In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv('./BTCUSDT_T_DEPTH_202205230028/BTCUSDT_T_DEPTH_2022-05-19/BTCUSDT_T_DEPTH_2022-05-19_depth_snap.csv')

,symbol,timestamp,first_update_id,last_update_id,side,update_type,price,qty,pu
0,BTCUSDT,1652918674491,1519915813513,1519915813513,a,snap,28905.9,0.887,-1
1,BTCUSDT,1652918674491,1519915813513,1519915813513,a,snap,28905.8,0.444,-1
2,BTCUSDT,1652918674491,1519915813513,1519915813513,a,snap,28905.7,0.151,-1
3,BTCUSDT,1652918674491,1519915813513,1519915813513,a,snap,28905.6,0.001,-1
4,BTCUSDT,1652918674491,1519915813513,1519915813513,a,snap,28905.5,0.164,-1
...,...,...,...,...,...,...,...,...,...
119995,BTCUSDT,1653003229272,1523278975940,1523278975940,b,snap,30116.9,0.021,-1
119996,BTCUSDT,1653003229272,1523278975940,1523278975940,b,snap,30116.8,0.002,-1
119997,BTCUSDT,1653003229272,1523278975940,1523278975940,b,snap,30116.7,1.594,-1
119998,BTCUSDT,1653003229272,1523278975940,1523278975940,b,snap,30116.6,0.481,-1
119999,BTCUSDT,1653003229272,1523278975940,1523278975940,b,snap,30116.4,0.004,-1

In [4]:
pd.read_csv('./BTCUSDT_T_DEPTH_202205230028/BTCUSDT_T_DEPTH_2022-05-19/BTCUSDT_T_DEPTH_2022-05-19_depth_update.csv')

,symbol,timestamp,first_update_id,last_update_id,side,update_type,price,qty,pu
0,BTCUSDT,1652918400037,1519899785753,1519899791829,a,set,28697.5,0.000,1519899785717
1,BTCUSDT,1652918400037,1519899785753,1519899791829,a,set,28699.1,0.000,1519899785717
2,BTCUSDT,1652918400037,1519899785753,1519899791829,a,set,28700.6,0.000,1519899785717
3,BTCUSDT,1652918400037,1519899785753,1519899791829,a,set,28700.7,1.568,1519899785717
4,BTCUSDT,1652918400037,1519899785753,1519899791829,a,set,28701.2,0.000,1519899785717
...,...,...,...,...,...,...,...,...,...
86733392,BTCUSDT,1653004799929,1523341777087,1523341784083,b,set,30316.1,0.015,1523341776481
86733393,BTCUSDT,1653004799929,1523341777087,1523341784083,b,set,30317.4,0.000,1523341776481
86733394,BTCUSDT,1653004799929,1523341777087,1523341784083,b,set,30317.7,0.010,1523341776481
86733395,BTCUSDT,1653004799929,1523341777087,1523341784083,b,set,30319.4,2.133,1523341776481
86733396,BTCUSDT,1653004799929,1523341777087,1523341784083,b,set,30319.9,0.294,1523341776481